* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    border-width: 0;
}

body {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.wobotPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1rem;
}

#bgShape {
    clip-path: polygon(0 80%, 100% 17%, 100% 100%, 0 100%);
    background: rgba(71, 129, 255, 0.455);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -1;
}

.wobotPage .section1 {
    width: 100%;
    flex: 1;
}

.wobotPage .brand {
    width: 150px;
    margin-top: 1rem;
    margin-left: 1rem;
}

.wobotPage .card {
    height: max-content;
    width: 300px;
    box-shadow: 5px 5px 15px 2px rgb(176, 176, 176);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem;
    border-radius: 10px;
    z-index: 20;
    background: white;
}

.wobotPage .card .brand_logo {
    width: 60px;
}

.wobotPage .card h2 {
    text-align: center;
    padding: 0 2rem;
    font-weight: 900;
    font-size: 20px;
    margin: 1rem 0;
}

.wobotPage .card .text {
    text-align: center;
    font-size: 10.5px;
}

.wobotPage .card .wobotForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 1rem;
}

.wobotPage .card .wobotForm span {
    font-size: 14px;
    margin-bottom: 1rem;
}

.wobotPage .card .wobotForm .company,
.wobotPage .card .wobotForm .industry {
    margin-top: 1rem;
    width: 100%;
}

.wobotPage .card .wobotForm select {
    width: 100%;
    padding: 0.3rem 1rem;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 5px;
    margin-top: 0.3rem;
}

.wobotPage .card .wobotForm input {
    width: 89%;
    padding: 0.3rem 1rem;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 5px;
    margin-top: 0.3rem;
}

.wobotPage .card .wobotSize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 1rem;
}

.wobotPage .card .wobotSize span {
    font-size: 14px;
    font-weight: 400;
}

.wobotPage .card .wobotSize #sizes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.3rem;
    flex-wrap: wrap;
}

.wobotPage .card .wobotSize #sizes .sizeRange {
    width: max-content;
    margin-right: 1rem;
    font-size: 12px;
    border-radius: 3px;
    background: rgb(222, 222, 222);
    cursor: pointer;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
}

.wobotPage .card .wobotSize #sizes .sizeRange.active {
    background: rgb(44, 111, 255);
    color: white;
}

.wobotPage .card .btn {
    margin-top: 1rem;
    background: rgb(44, 111, 255);
    color: white;
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 5px;
    margin: 2rem 0;
}

.wobotPage .section3 footer {
    width: 100%;
}

.wobotPage footer {
    margin-top: 0.5rem;
    text-align: center;
    margin-bottom: 0;
}



@media screen and (max-width: 450px){
    .wobotPage .card {
        width: 75%;
    }
}